<template lang="pug">
	div
		h1 {{ title }}


		p {{ 10000000000.50 | discharge('\'') }}
		p {{ 100001 | declension('день', 'дня', 'дней') }}
		p {{ 'фывыфвф фы01ыв фывывыфвфывф' | substrLengh(10, '>>>') }}

		p
			span(@click="$store.commit('openPopup', 'examplePopup')") Пример попапа
		h2 Форма
		form(action='/', method='post', @submit.prevent="onSubmit", novalidate)
			FormField(v-for='(field, index) in fields', :field='field', :key='index', :ref="field.name")


		Popup(:name="'examplePopup'")
			p Внутринности попапа

</template>

<script>

	import Popup from './component/popup.vue'
	import FormField from './component/form-field.vue'

	export default {
		data () {
			return {
				title: 'Примеры компонентов',
				message: 'Домашняя страница',

				fields: [
					{
						type: 'checkbox',
						name: 'checkbox_name',
						title: 'checkbox_title',
						label: 'checkbox_label <a href="#">link</a> and more',
						class: '',
						checked: false,
						required: true,
						onChange: (checked)=>{
							console.info('onChange', checked);
							//this.$refs.checkbox_name[0].validate();
						}
					},
					{
						type: 'radio',
						name: 'radio_name',
						title: 'radio_title',
						label: 'radio_label',
						required: true,
						value: '',
						items: [
							{
								label: 'Radio 1',
								value: 'Radio 1',
							},
							{
								label: 'Radio 2',
								value: 'Radio 2',
							},
							{
								label: 'Radio 3',
								value: 'Radio 3'
							},
						],
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.radio_name[0].validate();
						}
					},
					{
						type: 'text',
						name: 'text_name',
						title: 'text_title',
						label: 'text_label',
						value: '',
						mask: '',
						placeholder: 'text_placeholder',
						required: true,
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.text_name[0].validate();
						},
						onKeyup: (value)=>{
							console.info('onKeyup', value);
						}
					},
					{
						type: 'text',
						name: 'autocomplete_name',
						title: 'autocomplete_title',
						label: 'autocomplete_label',
						value: '',
						mask: '',
						autocomplete: true,
						placeholder: 'autocomplete_placeholder',
						required: true,
						items: [
							{
								value: 'select item 1',
								html: 'select item <b>1</b>'
							},
							{
								value: 'select item 2',
								html: 'select item <b>2</b>'
							},
							{
								value: 'select item 3',
								html: 'select item <b>3</b>'
							}
						],
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.text_name[0].validate();
						},
						onKeyup: (value)=>{
							console.info('onKeyup', value);
						}
					},
					{
						type: 'email',
						name: 'email_name',
						title: 'email_title',
						label: 'email_label',
						placeholder: 'email_placeholder',
						required: true,
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.email_name[0].validate();
						}
					},
					{
						type: 'select',
						name: 'select_name',
						title: 'select_title',
						label: 'select_label',
						placeholder: 'select_placeholder',
						//value: '1',
						required: true,
						multiple: false,
						items: [
							{
								value: '1',
								label: 'select item 1',
								html: 'select item <b>1</b>'
							},
							{
								value: '2',
								label: 'select item 2',
								html: 'select item <b>2</b>'
							},
							{
								value: '3',
								label: 'select item 3',
								html: 'select item <b>3</b>'
							}
						],
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.select_name[0].validate();
						}
					},
					/*{
						type: 'file',
						name: 'file_name',
						title: 'file_title',
						placeholder: 'file_placeholder',
						required: true,
						onChange: (value)=>{
							//this.$refs.file_name[0].validate();
							console.info('onChange', value);
						}
					},*/
					{
						type: 'text',
						name: 'date_name',
						title: 'date_title',
						label: 'date_label',
						placeholder: 'date_placeholder',
						required: true,
						mask: '99/99/9999',
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.date_name[0].validate();
						}
					},
					{
						type: 'textarea',
						name: 'textarea_name',
						title: 'textarea_title',
						label: 'textarea_label',
						value: '',
						placeholder: 'textarea_placeholder',
						required: true,
						onChange: (value)=>{
							console.info('onChange', value);
						}
					},
					{
						type: 'submit',
						value: 'Отправить'
					}
				]
			}
		},

		mounted(){

		},

		methods:{
			onSubmit(){
				/*let err = !1;

				for(let i = 0; i < this.fields.length; i++){
					if ( this.fields[i].name ){
						this.$refs[this.fields[i].name][0].validate((e)=>{
							if (e.errors.length) err = !0;
						});
					}
				}*/

			}
		},

		components: {
			Popup,
			FormField
		}
	}
</script>


<style lang="scss">

</style>