<template lang="pug">
	div
		h1 {{ title }}
		p(v-html="message")

</template>

<script>
	export default {
		data () {
			return {
				title: '404',
				message: 'К сожалению такой страницы нет.<br>Перейдите на существующие страницы по ссылкам слева',
			}
		}
	}
</script>


<style lang="scss">

</style>