<template lang="pug">
	div
		h1 {{ title }}
		p(v-html="message")

</template>

<script>
	export default {
		data () {
			return {
				title: 'Home',
				message: 'Домашняя страница',
			}
		},

		mounted(){

		}
	}
</script>


<style lang="scss">

</style>