<template lang="pug">
	.wrapper
		transition(mode='out-in', name="tr-fade"): router-view
</template>

<script>


	export default {
		data () {
			return {

			}
		},

		beforeCreate (){
			// if (isDev) console.info('beforeCreate')
		},
		created (){

		},

		destroyed (){
			// if (isDev) console.info('destroyed')
		},

		beforeMount (){
			// if (isDev) console.info('beforeMount')
		},
		mounted (){
			// if (isDev) console.info('mounted')
		},
		beforeUpdate (){
			// if (isDev) console.info('beforeUpdate')
		},
		updated (){
			// if (isDev) console.info('updated')
		},

		watch: {

		},

		components: {

		},

		methods: {

		}
	}
</script>

<style lang="scss">

</style>