<template lang="pug">
	.form__field(v-if='!field.remove', :class="[(value !== '' && field.type !== 'checkbox' && field.type !== 'radio' && field.type !== 'submit') ? 'is-filled' : '', 'form__field_' + field.type, focused ? 'is-focused' : '', error ? 'is-error' : '', field.class ? field.class : '']")
		.form__label(v-if="field.title", v-html="field.title")

		//- Submit button
		.form__input(v-if="field.type === 'submit'")
			input(
			type="submit",
			:disabled="field.disabled",
			:value="field.value"
			)

		//- Textarea
		.form__input(v-else-if="field.type === 'textarea'")
			textarea.textarea(
				@change="onChange",
				@keyup="onKeyup",
				@focus="onFocus",
				@blur="onBlur",
				:name="field.name",
				:disabled="field.disabled",
				:readonly="field.readonly",
				autocomplete="off",
				v-model.trim="value"
				) {{ field.value }}
			.form__placeholder(v-if="field.placeholder", v-html="field.placeholder")


		// Checkbox

		.form__input(v-else-if="field.type === 'checkbox'")
			input(
				@change="onChange",
				type="checkbox",
				:name="field.name",
				:id="field.name+'_'+_uid",
				:disabled="field.disabled",
				:checked="field.checked",
				v-model="value"
				)
			label(v-html="field.label", :for="field.name+'_'+_uid")

		// Radio

		.form__input(v-else-if="field.type === 'radio'", v-for='(item, index) in field.items', :key="index")
			input(
				@change="onChange",
				type="radio",
				:name="field.name",
				:id="field.name+'_'+_uid+'_'+index",
				:disabled="field.disabled",
				:checked="field.value === item.value",
				:value="item.value",
				v-model="value"
				)
			label(v-html="item.label", :for="field.name+'_'+_uid+'_'+index")

		// Select

		.form__input(v-else-if="field.type === 'select'")
			select(
				@change="onChange",
				@keyup="onKeyup",
				@focus="onFocus",
				@blur="onBlur",
				:name="field.name",
				v-model="value",
				autocomplete="off",
				:disabled="field.disabled",
				:id="field.name+'_'+_uid"
				)
				option(v-for="(item, index) in field.items", :key="index", :value="item.value", :disabled="item.disabled") {{item.label}}
			label(v-if="field.label", :for="field.name+'_'+_uid", v-html='label')
			transition(mode='out-in', name="tr-fade")
				.form__dropdown(v-if="field.items.length && focused")
					.form__dropdown-list
						.form__dropdown-item(
						@mousedown="onDropDownClick(item)",
						v-for="(item, index) in field.items",
						:key="index",
						v-html="item.html || item.label || item.value",
						:class="[value === item.value ? 'is-active' : '', item.disabled ? 'is-disabled' : '']"
						)
			.form__placeholder(v-if="field.placeholder", v-html="field.placeholder")



		//- Оther input types (text, search, email...)
		.form__input(v-else)
			input(
				@change="onChange",
				@keyup="onKeyup",
				@focus="onFocus",
				@blur="onBlur",
				:type="field.type",
				:name="field.name",
				v-model.trim="value",
				autocomplete="off",
				:disabled="field.disabled",
				:readonly="field.readonly"
				)

			transition(mode='out-in', name="tr-fade")
				.form__dropdown(v-if="field.autocomplete && field.items.length && focused")
					.form__dropdown-list
						.form__dropdown-item(
							@mousedown="onDropDownClick(item)",
							v-for="(item, index) in field.items",
							:key="index",
							v-html="item.html || item.label || item.value",
							:class="[value === item.value ? 'is-active' : '', item.disabled ? 'is-disabled' : '']"
							)
			.form__placeholder(v-if="field.placeholder", v-html="field.placeholder")

		.form__message(v-if="field.message", v-html="field.message")

</template>

<script>

	/**
	 * 	title - field title
	 * 	type - input type [text, email, radio, checkbox, textarea, submit]
	 * 	name - input name
	 * 	placeholder - input placeholder
	 * 	disabled - boolean
	 * 	readonly - boolean
	 * 	callbacks: onChange, onKeyup, onFocus, onBlur
	 * 	mask - Inputmask rules
	 * 	value
	 *
	 *	autocomplete - boolean
	 * 		items - array [autocomplete values] {value, html, disabled}
	 *
	 */


	import Inputmask from 'inputmask'
	// import vuescroll from 'vuescroll'

	export default {

		props: ['field'],

		data() {
			return {
				error: false,
				focused: false,
				dropdowned: false,
				value: this.field.checked || this.field.value || '',
				label: '',
				message: ''
			}
		},

		beforeDestroy(){

		},

		mounted(){
			if ( this.field.mask ){
				new Inputmask({
					mask: this.field.mask,
					showMaskOnHover: false,
					onincomplete: (e)=>{
						e.target.value = '';
						this.value = '';
					}
				}).mask(this.$el.querySelectorAll('input')[0]);
			}
		},

		watch:{
			value(val){
				if ( this.field.type === 'select' ){
					/*for (let i = 0; i < this.field.items.length; i++){
						if (this.field.items[i].value === val){
							this.label = this.field.items[i].label;
							break;
						}
					}*/
				}
			}
		},

		methods:{
			onChange(e){
				if ( this.field.type === 'file' ) this.getFile(e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.value);
			},
			onKeyup(){
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.value);
			},
			onFocus(){
				this.focused = !0;
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.value);
			},
			onBlur(){
				this.focused = !1;
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.value);
			},
			onDropDownClick(item){
				if ( item.disabled ) return false;
				this.value = item.value;
				this.label = item.label;
				this.dropdowned = !1;
				if ( this.field.type === 'select') this.$el.getElementsByTagName('select')[0].value = item.value;
				this.onChange();
			},
		}
	}
</script>

<style scoped lang="scss">

</style>