.app{

	position: relative;
	@include transition();
	opacity: 1;


	&__aside{
		width: $navWidthCompact;
		float: left;
		position: relative;
		//top: 0;
		//left: 0;
		//bottom: 0;
		@include transition(width 0.3s ease, margin 0.3s ease);
		margin-right: 0;
		z-index: 10;
		@include box-sizing();
		padding: $padding;

		.is-show-menu &{
			width: $navWidth;
			margin-right: $navWidthCompact - $navWidth;
		}

		@include breakPoint($breakPointTable){
			width: $navWidth;
		}


		&-inner{
			//@include bgGradient(#006cab, #0092c0);
			@include bgGradient();
			@include box-shadow();
			position: relative;
			@include borderRadius;



			@include transition();
			filter: blur(0);
			opacity: 1;
			.is-popup &{
				filter: blur(5px);
				opacity: 0.35;
			}
		}



		&-handler{
			position: absolute;
			top: 10px;
			right: 10px;
			width: 30px;
			height: 30px;
			z-index: 1;

			@include breakPoint($breakPointTable){
				display: none;
			}

			@include burgerButton('.is-show-menu', 24px, 2px);
		}
	}

	&__content{
		margin-left: $navWidthCompact - $padding;
		padding: $padding;
		@include box-sizing();
		min-height: 100vh;
		position: relative;


		opacity: 1;
		@include transition();
		filter: blur(0);
		.is-popup &{
			filter: blur(5px);
			opacity: 0.35;
		}

		@include breakPoint($breakPointTable){
			margin-left: $navWidth - $padding;
		}


		h1{
			font-family: $fontTitle;
			font-size: 32px;
			margin-bottom: 15px;
		}

		h2{
			font-family: $fontTitle;
			font-size: 24px;
			margin-bottom: 15px;
		}

		.content{
			&.is-loading{
				&:after{
					content: '';
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: url("/img/bars.svg") no-repeat 50% 50%;
				}
			}
		}
	}


	&:after{
		content: '';
		display: table;
		clear: both;
		font-size: 0;
	}

}

.link{
	cursor: pointer;
}

.content{

	&_collapse{
		display: none;
	}
}

i[class ^= 'ion-']{
	vertical-align: middle;
	display: inline-block;
}

.search{
	margin-bottom: $padding * 4;

	.form{
		&__field{
			width: 380px;
			max-width: 100%;

			input{
				color: $colorBlack;
				border: 1px solid $colorGradIn;
			}

		}
	}
}

.icons{
	i{
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
		font-size: 32px;
	}

	.tooltip{
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
		font-size: 32px;
	}
}


.menu{
	margin-bottom: $padding * 4;
	//padding: $padding;
	//@include bgGradient();
	//@include borderRadius();

	.btn{
		margin: 0 $padding $padding 0;
	}

	&__list{

	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin-right: $padding;
		margin-bottom: $padding;
		max-width: 100%;



	}
}


.map-marker{
	background: no-repeat 50% 50%;
	background-size: contain;
	@include border-radius(50%);
	width: 31px;
	height: 31px;
	position: relative;

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include border-radius(50%);
		@include box-shadow('inset');
	}
}

.map-balloon{
	border-radius: 8px;
	box-shadow: 1px 1px 0 rgba(0,0,0,.5);
	background: #fff;
	position: absolute;
	padding: 5px 30px 5px 10px;
	bottom: 0;
	width: 230px;
	font-size: 12px;


	&__title{
		font-size: 16px;
		font-weight: 600;
	}

	&__close{
		position: absolute;
		top: 5px;
		right: 10px;
		cursor: pointer;
	}
}

.card{
	margin-bottom: 50px;

	&__title{
		font-family: $fontTitle;
		font-size: 28px;
		margin: 30px 0 15px;

		&:first-child{
			margin-top: 0;
		}
	}

	&__list{
		font-size: 0;
		margin: -5px;
	}

	&__message{
		font-size: 14px;
	}

	&__map{
		margin: 5px 0 10px;
		height: 400px;
		max-height: 50vw;
		min-height: 180px;

		> div{
			@include box-shadow();
			@include borderRadius;
			overflow: hidden;
		}

		[class $= "-copyrights-pane"]{
			display: none!important;
		}
	}

	&__item{
		display: inline-block;
		font-size: 14px;
		max-width: 100%;
		//width: 390px;
		width: 100%;
		position: relative;

		@include breakPoint(1000px){
			width: 50%;
		}

		@include breakPoint(1400px){
			width: (100% / 3);
		}

		@include breakPoint(1800px){
			width: 25%;
		}


		&_event{
			width: 100%;

			@include breakPoint(1000px){
				width: 100%;
			}

			@include breakPoint(1400px){
				width: 100%;
			}

			@include breakPoint(1800px){
				width: 100%;
			}
		}

		//@include breakPoint(640px){
		//	width: 50%;
		//}
		//
		//@include breakPoint(1100px){
		//	width: (100% / 3);
		//}
		//
		//@include breakPoint(1400px){
		//	width: (100% / 4);
		//}
		//
		//@include breakPoint(1700px){
		//	width: (100% / 5);
		//}
		//
		//@include breakPoint(1900px){
		//	width: (100% / 6);
		//}

		&-inner{
			margin: 5px;
			@include box-shadow();
			padding: 10px;
			//text-align: center;
			background: #fff;
			display: block;
			@include borderRadius;
			@include transition();
			//overflow: hidden;
			font-size: 0;
			position: relative;

			&:hover{
				@include box-shadow('hover');
				@include transform(translateY(-5px));
			}

			.card__item_event &{
				padding: 5px 10px;
			}
		}


		&-label{
			position: absolute;
			font-size: 28px;
			top: 5px;
			right: 10px;
			z-index: 1;
		}

		&-logo{
			width: 80px;
			height: 80px;
			overflow: hidden;
			@include border-radius(50%);
			position: relative;
			//margin: 0 auto 10px;
			display: inline-block;
			vertical-align: middle;
			margin: 5px 0;

			font-size: 75px;
			line-height: 1.4;
			font-weight: 600;
			color: #fff;
			text-shadow: 0 2px 5px rgba(0,0,0,.35);
			background-color: #ddd;

			&:after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include border-radius(50%);
				@include box-shadow('inset');
			}

			img{
				display: block;
				width: 100%;
				height: 100%;
			}

			.card__item_event &{
				width: 40px;
				height: 40px;
				font-size: 35px;
				margin: 0;
			}
		}

		&-info{
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 90px);
			margin-left: 10px;
		}

		&-subtitle{
			color: $colorGrey;
			font-size: 14px;
			margin: 5px 0;
			max-height: 33px;
			overflow: hidden;
			@include textOverflow(2);

			&:first-child{
				margin-top: 0;
			}

			&:last-child{
				margin-bottom: 0;
			}

			.card__item_event &{
				width: calc(100% - 200px);
				display: inline-block;
				margin: 0;
				vertical-align: middle;
			}
		}

		&-title{
			font-family: $fontTitle;
			font-size: 18px;
			//margin-left: 90px;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 5px 0;
			max-height: 65px;
			@include textOverflow(2);

			&:first-child{
				margin-top: 0;
			}

			&:last-child{
				margin-bottom: 0;
			}


			span{
				color: $colorGrey;
				font-size: 14px;
			}

			.card__item_event &{
				width: 150px;
				display: inline-block;
				margin: 0;
				vertical-align: middle;
			}
		}
	}

	&__table{

	}

	&__about{
		&-inner{
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}

		&-head{
			@include clearfix;

			@include breakPoint($breakPointTable){
				float: right;
				margin-left: 10px;

				& + {
					.card__about-info{
						width: calc(100% - 180px);
					}
				}
			}
		}

		&-logo{
			width: 150px;
			height: 150px;
			overflow: hidden;
			@include border-radius(50%);
			position: relative;
			margin: 0 auto 10px;

			font-size: 135px;
			line-height: 1.4;
			font-weight: 600;
			color: #fff;
			text-shadow: 0 2px 5px rgba(0,0,0,.35);
			background-color: #ddd;

			@include breakPoint($breakPointTable){
				margin: 0 0 10px;
			}

			&:after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include border-radius(50%);
				@include box-shadow('inset');
			}

			img{
				display: block;
				width: 100%;
				height: 100%;
			}

		}

		&-name{
			@include breakPoint($breakPointTable){
				height: 150px;
				margin-left: 170px;
			}

			h1{
				display: inline-block;
				vertical-align: middle;
				max-width: 95%;
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}

		&-info{
			//margin: 5px 0;
			@include box-shadow();
			padding: 10px;
			//text-align: center;
			background: #fff;
			display: block;
			@include borderRadius;
			@include transition();
			//overflow: hidden;
			margin-top: 15px;

			&:first-child{
				margin-top: 0;
			}

			.icons{

				.tooltip__content{
					white-space: nowrap;
					max-width: 1000px;
				}
			}
		}

		&-text{
			line-height: 1.3;

			p{
				font-size: 14px;
				margin: 10px 0;
			}

			ul{
				margin: 10px 0 10px 20px;
			}

			li{
				list-style: circle;
			}
		}
	}
}







.calendar{

	$marginCalendarItem: 3px;
	@include user-select();
	color: $colorBlack;
	max-width: 500px;



	@include breakPoint(1400px){
		display: inline-block;
		margin-right: 16px;
	}

	&__result{
		@include breakPoint(1400px){
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 516px);
		}
	}

	&__list{

		@include box-shadow();
		//padding: 10px;
		//text-align: center;
		background: #fff;
		display: block;
		@include borderRadius;
		@include transition();
		//overflow: hidden;
		//margin-bottom: $padding;
		margin-bottom: 50px;

		font-size: 0;
	}

	&__inner{

		//&:hover{
		//	@include box-shadow('hover');
		//	@include transform(translateY(-5px));
		//}
	}

	&__head{
		font-size: 14px;
		text-align: center;
		background: $colorGradIn;
		color: #fff;
		@include box-sizing();
		padding: 0 15px;
		position: relative;
		height: 46px;
		line-height: 44px;
		@include border-radius(3px 3px 0 0);

		@include breakPoint($breakPointContent){
			font-size: 18px;
		}

		&-month{
			display: inline-block;
			vertical-align: middle;
		}

		&-year{
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;

			i{
				display: inline-block;
				padding: 0 3px;
				cursor: pointer;
				opacity: 0;
			}

			&:hover{
				i{
					opacity:1;
				}
			}
		}

		&-control{
			position: absolute;
			top: 0;
			cursor: pointer;
			font-size: 35px;
			padding: 0 15px;
			height: 100%;
			line-height: 1.3;

			&_prev{
				left: 0;
			}
			&_next{
				right: 0;
			}
		}


		&-today{
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
			opacity: 1;
			cursor: pointer;
		}
	}

	&__week{
		font-size: 14px;
		text-align: center;

		@include breakPoint(0, $breakPointContent - 1px){
			display: none;
		}

		.popup &{
			display: block;
		}

		&-item{
			display: inline-block;
			vertical-align: top;
			width: (100% / 7);
			@include box-sizing();
			padding: 10px;


			&:nth-of-type(7n ),
			&:nth-of-type(7n - 1){
				color: $colorRed;
			}
		}
	}

	&__days{
		font-size: 14px;

		@include breakPoint($breakPointContent){
			font-size: 18px;
		}

		&-item{
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 100%;
			@include box-sizing();
			padding: 10px;
			border-top: 1px solid $colorBorder;
			@include transition();
			@include box-shadow(0 0 0 rgba(0,0,0,0));
			@include borderRadius();

			&:last-child{
				@include border-radius(0 0 3px 3px);
			}

			.calendar_all &{
				cursor: pointer;

				&:not(.is-active):hover{
					z-index: 1;
					@include box-shadow(0 2px 10px -2px rgba(0, 0, 0, 0.45));
				}

			}

			.popup &{
				width: (100% / 7);
			}

			@include breakPoint(0, $breakPointContent - 1px){
				.app &{
					padding: 5px 10px;
				}
			}

			@include breakPoint($breakPointContent){
				width: (100% / 7);

				&:last-child{
					@include border-radius(0 0 3px 0);
				}
			}

			&:nth-of-type(7n ),
			&:nth-of-type(7n - 1){
				.calendar__days-item-day{
					color: $colorRed;
				}
			}

			&-day{
				text-align: center;

				@include breakPoint(0, $breakPointContent - 1px){

					.app &{
						width: 30px;
						line-height: 0.95;
						float: left;
						border-right: 1px solid $colorBorder;
						padding-right: 8px;
					}
				}
			}

			&-num{
				font-weight: 600;
				font-size: 18px;
			}

			&-week{
				font-size: 14px;
				opacity: 0.5;

				@include breakPoint($breakPointContent){
					display: none;
				}
			}

			&-info{

				@include breakPoint(0, $breakPointContent - 1px){
					margin-left: 50px;
					font-size: 16px;
				}

				@include breakPoint($breakPointContent){
					position: absolute;
					top: 3px;
					right: 0;
					left: 0;
					text-align: center;
					font-size: 0;
				}

				i{
					display: inline-block;
					vertical-align: middle;
					color: #fff;
					line-height: 30px;
					text-align: center;
					background: $colorBlue;
					@include border-radius(50%);


					@include breakPoint(0, $breakPointContent - 1px){
						width: 30px;
						height: 30px;
						margin: 0 5px 0 0;
					}

					@include breakPoint($breakPointContent){
						width: 5px;
						height: 5px;
						margin: 0 2px 3px 2px;
					}

				}
			}

			&_prev,
			&_next{

				background: $colorBorder;

				.calendar__days-item-day{
					opacity: 0.3;
				}


				&:hover{

				}

				@include breakPoint(0, $breakPointContent - 1px){
					.app &{
						display: none;
					}
				}
			}

			&_past{
				.calendar__days-item-day{
					opacity: 0.3;
				}
			}

			&_today{
				color: $colorBlue;
				font-weight: 600;


				&:after{
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					background: $colorBlue;

					@include breakPoint(0, $breakPointContent - 1px){
						.app &{
							top: 0;
							width: 3px;
						}
					}

					@include breakPoint($breakPointContent){
						height: 3px;
						right: 0;
					}

					.popup &{
						height: 3px;
						right: 0;
					}

				}
			}

			&_past,
			&_today,
			&_future{
				cursor: pointer;

				&:hover{
					z-index: 1;
					@include box-shadow(0 2px 10px -2px rgba(0, 0, 0, 0.45));
				}
			}


			&.is-active{
				@include box-shadow(inset 0 2px 10px 0px rgba(0, 0, 0, 0.65));
				border-color: transparent;
			}

		}
	}


	&__result{

		&-date{
			font-family: $fontTitle;
			font-size: 24px;
			margin-bottom: 15px;
			display: inline-block;
			margin-right: 15px;

			i{
				margin-left: 20px;
				cursor: pointer;
				color: $colorBlue;
			}
		}

		.btn{
			vertical-align: top;
		}
	}
}



.table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	@include breakPoint($breakPointDesk){
		display: table;
	}

	p{
		margin: 5px 0;

		&:first-child{
			margin-top: 0;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__row{
		margin-bottom: -1px;

		@include breakPoint($breakPointDesk){
			display: table-row;
			margin-bottom: 0;
		}

		&:hover{
			.table__cell{
				background-color: $colorBorder;
			}
		}
	}

	&__cell{

		padding: ($padding / 2);
		white-space: pre-line;
		border-left: 1px solid $colorBorder;
		border-right: 1px solid $colorBorder;
		position: relative;

		@include breakPoint($breakPointDesk){
			display: table-cell;
			border: none;
			border-top: 1px solid $colorBorder;
			border-bottom: 1px solid $colorBorder;
		}

		a{
			text-decoration: underline;
			color: $colorBlue;

			&:hover{
				text-decoration: none;
			}
		}

		input{
			border: 1px solid $colorGrey;
			border-radius: 3px;
			padding: 5px 10px;
			margin-right: 10px;
			color: $colorBlack;

			&:focus{
				border-color: $colorBlue;
			}
		}

		&:first-child{
			border-top: 1px solid $colorBorder;

			@include breakPoint($breakPointDesk){
				border-left: 1px solid $colorBorder;
			}
		}

		&_first{
			color: $colorGrey;

			@include breakPoint($breakPointDesk){
				max-width: 250px;
				width: 250px;
			}
		}

		&:last-child{
			border-bottom: 1px solid $colorBorder;

			@include breakPoint($breakPointDesk){
				border-right: 1px solid $colorBorder;
				position: relative;
				padding-left: 40px;
			}
		}

		&.card__table-title{
			border: 0;
			color: $colorBlack;
			font-family: $fontTitle;
			font-size: 18px;
			padding: $padding 0 ($padding / 2);
			background-color: transparent!important;
		}

		&.card__table-text{
			border: 0;
			color: $colorBlack;
			padding-right: 0 ;
			padding-left: 0 ;
			background-color: transparent!important;
		}

		.table__row_head &{
			font-family: $fontTitle;
			color: $colorBlack;
		}


		[class^='ion']{
			font-size: 1.5em;
			vertical-align: middle;
			display: inline-block;
			margin-top: -2px;
			margin-right: 5px;

			@include breakPoint($breakPointDesk){
				//position: absolute;
				//right: 100%;
				//margin: -4px -30px 0 0;
			}
		}
	}
}



.tag-label{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	background: $colorBlue;
	padding: 4px 10px;
	border-radius: 3px;
	margin: 1px 2px 1px 0;
	position: relative;
	user-select: none;

	&_crm{
		background: $colorGreen;
	}

	.tooltip{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.tooltip{
	position: relative;
	display: inline-block;

	&__content{
		position: absolute;
		left: 50%;
		text-align: center;
		bottom: calc(100% + 10px);
		background: currentColor;
		font-size: 12px;
		max-width: 150px;
		@include border-radius(3px);
		@include box-shadow();
		padding: 5px 10px;
		@include transform(translateX(-50%));
		pointer-events: none;
		@include transition();
		display: none;

		.is-to-left &{
			@include transform(translateX(-85%));
		}

		.is-to-bottom &{
			bottom: auto;
			top: calc(100% + 10px);
		}

		.is-hover &{
			display: block;
		}
		span{
			color: #fff;
		}

		&:after{
			content: '';
			position: absolute;
			border: 7px solid transparent;
			border-top-color: currentColor;
			bottom: -14px;
			margin-left: -7px;
			left: 50%;

			.is-to-left &{
				left: 85%;
			}

			.is-to-bottom &{
				border-top-color: transparent;
				border-bottom-color: currentColor;
				bottom: auto;
				top: -14px;
			}
		}

	}

	&__ico{
		color: currentColor;
	}


	&.c_white{
		span{
			color: #000;
		}
	}
}


[data-view ^= "error"]{
	display: none!important;
}