/* === Open Sans - regular */
//@font-face {
//	font-family: 'Open Sans';
//	font-style: normal;
//	font-weight: 400;
//	src: url("/fonts/opensans/OpenSans-Regular.eot");
//	src: local("Open Sans Regular"),
//	local("OpenSans-Regular"),
//	url("../fonts/opensans/OpenSans-Regular.eot") format("embedded-opentype"),
//	url("../fonts/opensans/OpenSans-Regular.woff2") format("woff2"),
//	url("/fonts/opensans/OpenSans-Regular.woff") format("woff"),
//	url("/fonts/opensans/OpenSans-Regular.ttf") format("truetype"),
//	url("/fonts/opensans/OpenSans-Regular.svg") format("svg");
//}
