$inputHeight: 50px;
$inputBorderRadius: 5px;
$inputBorderColor: #f99;
$inputBorderWidth: 2px;
$inputPaddingAside: 10px;
$inputFontSize: 14px;




.form{
	font-size: 0;

	&__title{
		font-size: 20px;
		font-family: $fontTitle;
		margin-bottom: 25px;
	}


	&__field{
		margin-bottom: 15px;
	}

	&__input{
		position: relative;

		select{
			opacity: 0;
			position: absolute;
			margin: 0;
			padding: 0;
			pointer-events: none;
		}

		select + label,
		input,
		textarea{
			box-sizing: border-box;
			border: $inputBorderWidth solid $inputBorderColor;
			width: 100%;
			font-size: $inputFontSize;
			display: block;

			.is-filled &{

			}
			.is-focused &{

			}
			.is-error &{

			}
		}

		select + label,
		input{
			height: $inputHeight;
			line-height: $inputHeight - (2 * $inputBorderWidth);
			border-radius: $inputBorderRadius;
			padding: 0 $inputPaddingAside;

			&[type=checkbox]{
				opacity: 0;
				position: absolute;
				margin: 0;
				padding: 0;
				pointer-events: none;

				& + label{
					display: block;
					position: relative;
					padding-left: 30px;

					&:before,
					&:after{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						box-sizing: border-box;
						cursor: pointer;
					}

					&:before{
						border: 2px solid #654;
					}

					&:after{
						background: #15bf00;
						opacity: 0;
						transition: all .3s ease;
					}

				}

				&:checked{
					& + label{
						&:after{
							opacity: 1;
						}
					}
				}
			}

			&[type=radio]{
				opacity: 0;
				position: absolute;
				margin: 0;
				padding: 0;
				pointer-events: none;

				& + label{
					display: block;
					position: relative;
					padding-left: 30px;

					&:before,
					&:after{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						box-sizing: border-box;
						cursor: pointer;
						border-radius: 50%;
					}

					&:before{
						border: 2px solid #654;
					}

					&:after{
						background: #15bf00;
						opacity: 0;
						transition: all .3s ease;
					}

				}

				&:checked{
					& + label{
						&:after{
							opacity: 1;
						}
					}
				}
			}
		}

		textarea{
			border-radius: $inputBorderRadius;
			padding: (($inputHeight - (2 * $inputBorderWidth)) /2 - $inputPaddingAside) $inputPaddingAside;
			line-height: 1.5;
			height: 150px;
		}
	}

	&__placeholder{
		position: absolute;
		pointer-events: none;
		left: $inputPaddingAside + $inputBorderWidth;
		top: (($inputHeight + (2 * $inputBorderWidth)) / 2 - $inputPaddingAside);
		font-size: $inputFontSize;
		transition: all .3s ease;


		.is-filled &{
			opacity: 0;
		}
		.is-focused &{
			opacity: 0;
		}
		.is-error &{

		}
	}


	&__dropdown{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 1;

		&-list{

		}
		&-item{
			cursor: pointer;
		}
	}
}








